<app-navbar *ngIf="logged" (userLogout)="logout()"></app-navbar>
<!-- Page container -->
<div class="page-container">

  <!-- Page content -->
  <div class="page-content">

    <div *ngIf="logged">
      <!-- Main sidebar -->
      <div class="sidebar sidebar-main">
        <div class="sidebar-content" style="width: 150px;">


          <app-sidebar></app-sidebar>

        </div>
      </div>
      <!-- /main sidebar -->


      <!-- Main content -->
      <div class="content-wrapper">

        <!-- Page header -->
        <!--<div class="page-header page-header-default">-->

          <!--<div class="breadcrumb-line">-->
            <!--<ul class="breadcrumb">-->
              <!--<li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>-->
              <!--<li class="active">Dashboard</li>-->
            <!--</ul>-->

            <!--<ul class="breadcrumb-elements">-->
              <!--<li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>-->
              <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                  <!--<i class="icon-gear position-left"></i>-->
                  <!--Settings-->
                  <!--<span class="caret"></span>-->
                <!--</a>-->

                <!--<ul class="dropdown-menu dropdown-menu-right">-->
                  <!--<li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>-->
                  <!--<li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>-->
                  <!--<li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>-->
                  <!--<li class="divider"></li>-->
                  <!--<li><a href="#"><i class="icon-gear"></i> All settings</a></li>-->
                <!--</ul>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
        <!-- /page header -->


        <!-- Content area -->
        <div class="content">

          <!-- Main charts -->
          <router-outlet></router-outlet>
          <!-- /main charts -->


          <!-- Footer -->
          <app-footer></app-footer>
          <!-- /footer -->

        </div>
        <!-- /content area -->

      </div>

    </div>
    <!-- /main content -->

    <app-auth [hidden]="logged" (userInfo)="checkLogged($event)"></app-auth>

  </div>
  <!-- /page content -->

</div>
<!-- /page container -->
